/logs
/Logs
/data
.env
# Infrastructure
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Secrets/logs
airflow.cfg*
etl_process.log
aws/
awscliv2.zip

# Local overrides
#docker-compose.yml  # Replace with docker-compose.example.yml

# Ignore specific files in cryo/crates
dags/cryo/crates/book
dags/cryo/crate/python/README.md
dags/cryo/crate/python/book.toml
dags/cryo/crate/python/python
dags/cryo/crate/python/python_tests
/dags/cryo/crates/python/python
/dags/cryo/crates/python/python_tests
/dags/cryo/crates/python/README.md
/dags/cryo/book/
/dags/subgraph_scripts/README.md
/dags/subgraph_scripts/.gitignore
/dags/cryo/README.md
/dags/cryo/book.tomls
dags/subgraph_scripts/extract.py